<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<display-name>UserLoginServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<display-name>UserRegisterServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompleteRegisterInfoServlet</servlet-name>
		<display-name>CompleteRegisterInfoServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.CompleteRegisterInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowRestaurantDetailServlet</servlet-name>
		<display-name>ShowRestaurantDetailServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.ShowRestaurantDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowFoodsServlet</servlet-name>
		<display-name>ShowFoodsServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.ShowFoodsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddfoodServlet</servlet-name>
		<display-name>AddfoodServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.AddfoodServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ApplyServlet</servlet-name>
		<display-name>ApplyServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.ApplyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdsListServlet</servlet-name>
		<display-name>AdsListServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.AdsListServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteFoodServlet</servlet-name>
		<display-name>DeleteFoodServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.DeleteFoodServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodDetailServlet</servlet-name>
		<display-name>FoodDetailServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.FoodDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdatefoodServlet</servlet-name>
		<display-name>UpdatefoodServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.UpdatefoodServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowRestaurantInfoServlet</servlet-name>
		<display-name>ShowRestaurantInfoServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.ShowRestaurantInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserExitServlet</servlet-name>
		<display-name>UserExitServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.UserExitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateRestaurantServlet</servlet-name>
		<display-name>UpdateRestaurantServlet</display-name>
		<description></description>
		<servlet-class>typhoon.merchant.servlet.UpdateRestaurantServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/UserRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompleteRegisterInfoServlet</servlet-name>
		<url-pattern>/CompleteRegisterInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowRestaurantDetailServlet</servlet-name>
		<url-pattern>/ShowRestaurantDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowFoodsServlet</servlet-name>
		<url-pattern>/ShowFoodsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyServlet</servlet-name>
		<url-pattern>/ApplyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdsListServlet</servlet-name>
		<url-pattern>/AdsListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddfoodServlet</servlet-name>
		<url-pattern>/AddfoodServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFoodServlet</servlet-name>
		<url-pattern>/DeleteFoodServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodDetailServlet</servlet-name>
		<url-pattern>/FoodDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatefoodServlet</servlet-name>
		<url-pattern>/UpdatefoodServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowRestaurantInfoServlet</servlet-name>
		<url-pattern>/ShowRestaurantInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserExitServlet</servlet-name>
		<url-pattern>/UserExitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateRestaurantServlet</servlet-name>
		<url-pattern>/UpdateRestaurantServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
